<form method="post" action="{{ path('formation_delete', {'id': formation.id}) }}" onsubmit="return confirm('Est-vous sûr de supprimer cette formation ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
