{{ form_start(form,{'attr':{'class':'container-fluid'}}) }}
<div class="d-flex">
	<a href="{{ path('formation_index') }}" class="btn btn-primary">Retour à la liste</a>
    {% if formation.id is not null %}
        <a href="{{ path('formation_show', {'id': formation.id}) }}" class="btn btn-primary ml-2">Afficher</a>
    {% endif %}
	<button class="btn btn-success ml-2">{{ button_label|default('Sauvegarder') }}</button>
</div>
<div class="no-gutters">
	<div class="form-inline flex-column align-items-start mb-3">
		<h4 class="text-light">Formation</h4>
		<div class="input-group">
			<div class="input-group-prepend">{{ form_label(form.libelle,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
			{{ form_widget(form.libelle,{'attr':{'class':'form-control'}}) }}
	    </div>
	</div>
	<div class="d-flex flex-column">
		<div class="d-flex align-items-center">
			<h4 class="text-light m-0">Module</h4>
			<button type="button" class="btn btn-primary ml-1" id="btnModalModule" data-toggle="modal" data-target="#modalModule">Ajouter</button>
		</div>
	    <div id="list_module">
				{% for module in formation.modules %}
          <div class="d-flex align-items-center mt-1">
          	<button type="button" class="btn btn-danger" onclick="suppressionModule({{ module.id }})">Supprimer</button>
              <button type="button" class="btn btn-warning ml-1 mr-1" onclick="editionModule({{ module.id }})" data-toggle="modal" data-target="#modalModule">Editer</button>
              <p class="text-light m-0">{{ module.libelle }}</p>
          </div>
        {% endfor %}
	    </div>
	</div>
</div>
{{ form_end(form) }}

<!--Modal-->
<div class="modal fade" id="modalModule" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Module</h5>
            </div>
            <div class="modal-body bg-secondary w-100" id="modal-body-module">
                <p class="text-center text-light m-0">Chargement du formulaire, veuillez patientez ....</p>
            </div>
            <div class="modal-footer">
                <button id="validationModule" class="btn btn-success" data-dismiss="modal">Valider</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
