{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Editier Formation" }}{% endblock %}

{% block body %}
{{ include('formation/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
//Bouton d'ajout de module
$('#btnModalModule').click(function()
    {
    $('#validationModule').attr('onclick','ajaxModule()');
    $.ajax({
        url:"{{ path('module_form') }}",
        type:"POST",
        dataType:"html",
        data:{},
        async:true,
        success:function(data)
            {
            $('#modal-body-module').html(data);
            }
        });
    });
//Bouton de suppresion d'un module
function suppressionModule(id)
    {
    if(confirm('Est-vous sûr de supprimer ce module ?'))
        $.ajax({
            url:"{{ path('module_delete',{'id':'id'}) }}".replace('id',id),
            type:"POST",
            dataType:"html",
            data:{},
            async:true,
            success:function(data)
                {
                $('#list_module').html(data);
                }
            });
    };
//Bouton de modification d'un module
function editionModule(id)
    {
    $('#validationModule').attr('onclick','ajaxModule('+id+')');
    $.ajax({
        url:"{{ path('module_form',{'id':'id'}) }}".replace('id',id),
        type:"POST",
        dataType:"html",
        data:{},
        async:true,
        success:function(data)
            {
            $('#modal-body-module').html(data);
            }
        });
    };
//Bouton qui rajoute ou modifie un module
function ajaxModule(id)
    {
    if(id)
        var path="{{ path('module_edit',{'id':'id'}) }}".replace('id',id);
    else
        var path="{{ path('module_new',{'id':formation.id}) }}";
    //Récupération des valeurs
    let libelle=$('#module_libelle').val();
    let description=$('#module_description').val();
    //Suppression des valeurs du formulaire
    $('#module_libelle').val('');
    $('#module_description').val('');
    //Vérification des valeurs
    if(libelle.trim()!=""&&description.trim()!="")
        $.ajax({
            url:path,
            type:"POST",
            dataType:"html",
            data:{'libelle':libelle,'description':description},
            async:true,
            success:function(data)
                {
                $('#list_module').html(data);
                }
            });
    }
</script>
{% endblock %}
