{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Formations" }}{% endblock %}

{% block body %}
<div class="container-fluid">
  <h3 class="text-light">Liste des formations</h3>
  <a href="{{ path('formation_new') }}" class="btn btn-primary mb-2">Nouvelle formation</a>
  {% if pages > 1 %}
      <nav class="d-flex">
          <ul class="pagination">
              {% if page > 1 %}
                  <li class="page-item"><a class="page-link" href="{{ path('formation_index', {'page': 1}) }}">Début</a></li>
                  <li class="page-item"><a class="page-link" href="{{ path('formation_index', {'page': page-1}) }}">Précédent</a></li>
              {% endif %}
              {% for i in range(pageDebut,pageFin) %}
                  <li class="page-item">
                      {% if page == i %}
                          <a class="page-link bg-primary text-light">{{ i }}</a>
                      {% else %}
                          <a class="page-link" href="{{ path('formation_index', {'page': i}) }}">{{ i }}</a>
                      {% endif %}
                  </li>
              {% endfor %}
              {% if page < pages %}
                  <li class="page-item"><a class="page-link" href="{{ path('formation_index', {'page': page+1}) }}">Suivant</a></li>
                  <li class="page-item"><a class="page-link" href="{{ path('formation_index', {'page': pages}) }}">Fin</a></li>
              {% endif %}
          </ul>
      </nav>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-dark table-striped table-hover table-bordered mb-0">
        <thead>
            <tr>
                <th class="text-truncate">Nom</th>
                <th class="text-truncate">Nombre de modules</th>
                <th class="w-25">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in formations %}
            <tr>
                <td class="align-middle text-truncate">{{ formation.libelle }}</td>
                <td class="align-middle text-truncate">{{ formation.modules|length }}</td>
                <td class="d-flex">
                    <div class="d-flex">
                      <a href="{{ path('formation_show', {'id': formation.id}) }}" class="btn btn-primary">Afficher</a>
                      <a href="{{ path('formation_edit', {'id': formation.id}) }}" class="btn btn-warning ml-2 mr-2">Editer</a>
                      {{ include('formation/_delete_form.html.twig') }}
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucune formation</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
