{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Nouvelle Formation" }}{% endblock %}

{% block body %}
{{ include('formation/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
//Bouton d'ajout de module
$('#btnModalModule').click(function()
    {
    $.ajax({
        url:"{{ path('module_form') }}",
        type:"POST",
        dataType:"html",
        data:{},
        async:true,
        success:function(data)
            {
            $('#modal-body-module').html(data);
            }
        });
    });
//Bouton Valider de la modal
$('#validationModule').click(function()
    {//Récupération des valeurs
    let libelle=$('#module_libelle').val();
    let description=$('#module_description').val();
    //Suppression des valeurs du formulaire
    $('#module_libelle').val('');
    $('#module_description').val('');
    //Vérification des valeurs
    if(libelle.trim()!=""&&description.trim()!="")
        {//Calcul le nombre de module déjà crée
        let length=$('#list_module div').length;
        //Ajout du module en html
        $('#list_module').append(
            '<div id="module_'+length+'" class="d-flex align-items-center mt-1">'+
                '<button type="button" class="btn btn-danger mr-1" onclick="suppressionModule('+length+')">Supprimer</button>'+
                '<p class="text-light m-0">'+libelle+'</p>'+
                '<input class="libelle" type="hidden" name="module_'+length+'[libelle]" value="'+libelle+'"/>'+
                '<input class="description" type="hidden" name="module_'+length+'[description]" value="'+description+'"/>'+
            '</div>');
        }
    });
//Bouton de suppresion d'un module
function suppressionModule(id)
    {//Suppression de la div parente du bouton
    $('#module_'+id).remove();
    //Parcours les div situées après la div supprimé
    for(var i=id;i<$('#list_module div').length;i++)
        {//Modification des attributs
        //Div suivante
        $('#module_'+(i+1)).attr('id',"module_"+i);
        //Elements html de la div suivante
        $('#module_'+i+' button').attr('onclick',"suppressionModule("+i+")");
        $('#module_'+i+' .libelle').attr('name','module_'+i+'[libelle]');
        $('#module_'+i+' .description').attr('name','module_'+i+'[description]');
        }
    }
</script>
{% endblock %}
