{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Affichage Formation" }}{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="d-flex">
      <a href="{{ path('formation_index') }}" class="btn btn-primary">Retour à la liste</a>
      <a href="{{ path('formation_edit', {'id': formation.id}) }}" class="btn btn-warning ml-2 mr-2">Editer</a>
      {{ include('formation/_delete_form.html.twig') }}
  </div>
  <div class="no-gutters">
    <div class="mb-3">
        <h4 class="text-light">Formation</h4>
        <p class="text-light m-0"><strong class="text-white">Nom: </strong>{{ formation.libelle }}</p>
    </div>
    <div class="d-flex flex-column">
        <h4 class="text-light">Liste des modules</h4>
        {% for module in formation.modules %}
            <div class="d-flex align-items-center mt-1">
                <button type="button" class="btn btn-info mr-1" data-toggle="modal" data-target="#modalModule" onclick="reloadModalContact({{ module.id }})">Détails</button>
                <p class="text-light m-0">{{ module.libelle }}</p>
            </div>
        {% endfor %}
    </div>
  </div>
</div>
<!--Modal-->
<div class="modal fade" id="modalModule" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Module</h5>
            </div>
            <div class="modal-body bg-secondary w-100" id="modal-body-module">
                <p class="text-center text-light m-0">Chargement des données, veuillez patientez ....</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
function reloadModalContact(id)
    {
    $.ajax({
        url:"{{ path('module_show',{'id':'id'}) }}".replace('id',id),
        type:"POST",
        dataType:"html",
        data:{},
        async:true,
        success:function(data)
            {
            $('#modal-body-module').html(data);
            }
        });
    }
</script>
{% endblock %}
