{{ form_start(form,{'attr':{'class':'container-fluid'}}) }}
<div class="d-flex">
	<a href="{{ path('entreprise_index') }}" class="btn btn-primary">Retour à la liste</a>
    {% if entreprise.id is not null %}
        <a href="{{ path('entreprise_show', {'id': entreprise.id}) }}" class="btn btn-primary ml-2">Afficher</a>
    {% endif %}
	<button class="btn btn-success ml-2">{{ button_label|default('Sauvegarder') }}</button>
</div>
<div class="row">
	<div class="col-auto mb-3">
		<h4 class="text-light">Entreprise</h4>
		<div class="input-group mb-1">
			<div class="input-group-prepend">{{ form_label(form.nom,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
			{{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
		</div>
		<div class="input-group mb-1">
			<div class="input-group-prepend">{{ form_label(form.siret,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
			{{ form_widget(form.siret,{'attr':{'class':'form-control'}}) }}
		</div>
		<div class="input-group mb-1">
			<div class="input-group-prepend"><label for="ville_id" class="required input-group-text">Ville</label></div>
			<select id="ville_id" name="ville" class="form-control" required>
	            {% for ville in villes %}
	                <option value="{{ ville.id }}" {% if entreprise.idVille.id is defined and entreprise.idVille.id == ville.id %}selected{% endif %}>{{ ville.nom~" "~ville.codePostal }}</option>
	            {% endfor %}
	        </select>
		</div>
		<div class="input-group mb-1">
			<div class="input-group-prepend">{{ form_label(form.num_rue,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
			{{ form_widget(form.num_rue,{'attr':{'class':'form-control'}}) }}
		</div>
		<div class="input-group">
			<div class="input-group-prepend">{{ form_label(form.rue,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
			{{ form_widget(form.rue,{'attr':{'class':'form-control'}}) }}
		</div>
	</div>
	<div class="d-flex flex-column col-auto">
		<div class="d-flex align-items-center">
			<h4 class="text-light m-0">Liste des contacts</h4>
      <button type="button" id="btnModalContact" class="btn btn-primary ml-1" data-toggle="modal" data-target="#modalContact">Ajouter</button>
	    </div>
	    <div id="list_contact">
	        {% for contact in entreprise.contacts %}
	            <div class="d-flex align-items-center mt-1">
	            	<button type="button" class="btn btn-danger" onclick="suppressionContact({{ contact.id }})">Supprimer</button>
	            	<button type="button" class="btn btn-warning ml-1 mr-1"data-toggle="modal" data-target="#modalContact" onclick="editionContact({{ contact.id }})">Editer</button>
	            	<p class="text-light m-0">{{ contact.prenom~" "~contact.nom }}</p>
	            </div>
	        {% endfor %}
	    </div>
	</div>
</div>
{{ form_end(form) }}

<!--Modal-->
<div class="modal fade" id="modalContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
            </div>
            <div class="modal-body bg-secondary w-100" id="modal-body-contact">
                <p class="text-center text-light m-0">Chargement du formulaire, veuillez patientez ....</p>
            </div>
            <div class="modal-footer">
                <button id="validationContact" class="btn btn-success" data-dismiss="modal">Valider</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
