{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Editier Entreprise" }}{% endblock %}

{% block body %}
{{ include('entreprise/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
//Bouton d'ajout de contact
$('#btnModalContact').click(function()
    {
    $('#validationContact').attr('onclick','ajaxModule()');
    $.ajax({
        url:"{{ path('contact_form') }}",
        type:"POST",
        dataType:"html",
        data:{},
        async:true,
        success:function(data)
            {
            $('#modal-body-contact').html(data);
            }
        });
    });
//Bouton de suppresion d'un module
function suppressionContact(id)
    {
    if(confirm('Est-vous sûr de supprimer ce contact ?'))
        $.ajax({
            url:"{{ path('contact_delete',{'id':'id'}) }}".replace('id',id),
            type:"POST",
            dataType:"html",
            data:{},
            async:true,
            success:function(data)
                {
                $('#list_contact').html(data);
                }
            });
    };
//Bouton de modification d'un contact
function editionContact(id)
    {
    $('#validationContact').attr('onclick','ajaxModule('+id+')');
    $.ajax({
        url:"{{ path('contact_form',{'id':'id'}) }}".replace('id',id),
        type:"POST",
        dataType:"html",
        data:{},
        async:true,
        success:function(data)
            {
            $('#modal-body-contact').html(data);
            }
        });
    };
//Bouton qui rajoute ou modifie un contact
function ajaxModule(id)
    {
    if(id)
        var path="{{ path('contact_edit',{'id':'id'}) }}".replace('id',id);
    else
        var path="{{ path('contact_new',{'id':entreprise.id}) }}";
    //Récupération des valeurs et suppression des espaces de début et fin de chaines de caracteres
    let nom=$('#contact_nom').val().trim();
    let prenom=$('#contact_prenom').val().trim();
    let mail=$('#contact_mail').val().trim();
    let portable=$('#contact_portable').val().trim();
    let fixe=$('#contact_fixe').val().trim();
    //Champs fomrulaire vidé
    $('#contact_nom').val('');
    $('#contact_prenom').val('');
    $('#contact_mail').val('');
    $('#contact_portable').val('');
    $('#contact_fixe').val('');
    //Vérification des valeurs
    if(nom.trim()!=""&&prenom.trim()!=""&&mail.trim()!=""&&portable.trim()!=""&&fixe.trim()!="")
        $.ajax({
            url:path,
            type:"POST",
            dataType:"html",
            data:{'nom':nom,'prenom':prenom,'mail':mail,'portable':portable,'fixe':fixe},
            async:true,
            success:function(data)
                {
                $('#list_contact').html(data);
                }
            });
    }
</script>
{% endblock %}
