{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Entreprises" }}{% endblock %}

{% block body %}
<div class="container-fluid">
  <h3 class="text-light">Liste des entreprises</h3>
  <a href="{{ path('entreprise_new') }}" class="btn btn-primary mb-2">Nouvelle entreprise</a>
  {% if pages > 1 %}
      <nav class="d-flex">
          <ul class="pagination">
              {% if page > 1 %}
                  <li class="page-item"><a class="page-link" href="{{ path('entreprise_index', {'page': 1}) }}">Début</a></li>
                  <li class="page-item"><a class="page-link" href="{{ path('entreprise_index', {'page': page-1}) }}">Précédent</a></li>
              {% endif %}
              {% for i in range(pageDebut,pageFin) %}
                  <li class="page-item">
                      {% if page == i %}
                          <a class="page-link bg-primary text-light">{{ i }}</a>
                      {% else %}
                          <a class="page-link" href="{{ path('entreprise_index', {'page': i}) }}">{{ i }}</a>
                      {% endif %}
                  </li>
              {% endfor %}
              {% if page < pages %}
                  <li class="page-item"><a class="page-link" href="{{ path('entreprise_index', {'page': page+1}) }}">Suivant</a></li>
                  <li class="page-item"><a class="page-link" href="{{ path('entreprise_index', {'page': pages}) }}">Fin</a></li>
              {% endif %}
          </ul>
      </nav>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-dark table-striped table-hover table-bordered mb-0">
        <thead>
            <tr>
                <th class="text-truncate">Nom</th>
                <th class="text-truncate">Siret</th>
                <th class="text-truncate">Ville</th>
                <th class="w-25">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entreprise in entreprises %}
            <tr>
                <td class="align-middle text-truncate">{{ entreprise.nom }}</td>
                <td class="align-middle text-truncate">{{ entreprise.siret }}</td>
                <td class="align-middle text-truncate">{{ entreprise.idVille.nom }}</td>
                <td>
                  <div class="d-flex">
                    <a href="{{ path('entreprise_show', {'id': entreprise.id}) }}" class="btn btn-primary">Afficher</a>
                    <a href="{{ path('entreprise_edit', {'id': entreprise.id}) }}" class="btn btn-warning ml-2 mr-2">Editer</a>
                    {{ include('entreprise/_delete_form.html.twig') }}
                  </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune entreprise</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
