{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Nouvelle Entreprise" }}{% endblock %}

{% block body %}
{{ include('entreprise/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
//Bouton d'ajout d'un contact
$('#btnModalContact').click(function()
    {
    $.ajax({
        url:"{{ path('contact_form') }}",
        type:"POST",
        dataType:"html",
        data:{},
        async:true,
        success:function(data)
            {
            $('#modal-body-contact').html(data);
            }
        });
    });
//Bouton Valider de la modal
$('#validationContact').click(function()
    {//Récupération des valeurs et suppression des espaces de début et fin de chaines de caracteres
    let nom=$('#contact_nom').val().trim();
    let prenom=$('#contact_prenom').val().trim();
    let mail=$('#contact_mail').val().trim();
    let portable=$('#contact_portable').val().trim();
    let fixe=$('#contact_fixe').val().trim();
    //Champs fomrulaire vidé
    $('#contact_nom').val('');
    $('#contact_prenom').val('');
    $('#contact_mail').val('');
    $('#contact_portable').val('');
    $('#contact_fixe').val('');
    //Si les champs sont différents de nulle ou de chaines vides
    if(nom!=""&&prenom!=""&&mail!=""&&portable!=""&&fixe!="")
        {
        let length=$('#list_contact div').length;
        $('#list_contact').append(
            '<div id="contact_'+length+'" class="d-flex align-items-center mt-1">'+
                '<button type="button" class="btn btn-danger mr-1" onclick="suppressionContact('+length+')">Supprimer</button>'+
                '<p class="text-light m-0">'+prenom+' '+nom+'</p>'+
                '<input class="nom" type="hidden" name="contact_'+length+'[nom]" value="'+nom+'"/>'+
                '<input class="prenom" type="hidden" name="contact_'+length+'[prenom]" value="'+prenom+'"/>'+
                '<input class="mail" type="hidden" name="contact_'+length+'[mail]" value="'+mail+'"/>'+
                '<input class="portable" type="hidden" name="contact_'+length+'[portable]" value="'+portable+'"/>'+
                '<input class="fixe" type="hidden" name="contact_'+length+'[fixe]" value="'+fixe+'"/>'+
            '</div>');
        }
    });
//Bouton de suppresion d'un enseignement
function suppressionContact(id)
    {//Suppression de la div parente du bouton
    $('#contact_'+id).remove();
    //Parcours les div situées après la div supprimé
    for(let i=id;i<$('#list_contact > div').length;i++)
        {//Modification des attributs
        //Div suivante
        $('#contact_'+(i+1)).attr('id',"contact_"+i);
        //Elements html de la div suivante
        $('#contact_'+i+' button').attr('onclick',"suppressionContact("+i+")");
        $('#contact_'+i+' .nom').attr('name','contact_'+i+'[nom]');
        $('#contact_'+i+' .prenom').attr('name','contact_'+i+'[prenom]');
        $('#contact_'+i+' .mail').attr('name','contact_'+i+'[mail]');
        $('#contact_'+i+' .portable').attr('name','contact_'+i+'[portable]');
        $('#contact_'+i+' .fixe').attr('name','contact_'+i+'[fixe]');
        }
    }
</script>
{% endblock %}
