{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Affichage Entreprise" }}{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="d-flex">
      <a href="{{ path('entreprise_index') }}" class="btn btn-primary">Retour à la liste</a>
      <a href="{{ path('entreprise_edit', {'id': entreprise.id}) }}" class="btn btn-warning ml-2 mr-2">Editer</a>
      {{ include('entreprise/_delete_form.html.twig') }}
  </div>
  <div class="row">
    <div class="col-auto mb-3">
        <h4 class="text-light">Entreprise</h4>
        <p class="text-light m-0">
            <strong class="text-white">Nom: </strong>
            {{ entreprise.nom }}
        </p>
        <p class="text-light m-0">
            <strong class="text-white">Siret: </strong>
            {{ entreprise.siret }}
        </p>
        <p class="text-light m-0">
            <strong class="text-white">Ville: </strong>
            {{ entreprise.idVille.nom ~ " " ~ entreprise.idVille.codePostal }}
        </p>
        <p class="text-light m-0">
            <strong class="text-white">Rue: </strong>
            {{ entreprise.numRue ~ " " ~ entreprise.rue }}
        </p>
    </div>
    <div class="d-flex flex-column col-auto mb-3">
        <h4 class="text-light">Liste des contacts</h4>
        {% for contact in entreprise.contacts %}
            <div class="d-flex align-items-center mt-1">
                <button type="button" class="btn btn-info mr-1" data-toggle="modal" data-target="#modalContact" onclick="detailsContact({{ contact.id }})">Détails</button>
                <p class="text-light m-0">{{ contact.prenom~" "~contact.nom }}</p>
            </div>
        {% endfor %}
    </div>
    {% if entreprise.stagiaires|length > 0 %}
        <div class="d-flex flex-column col-auto">
            <h4 class="text-light">Liste des stagiaires</h4>
            {% for stagiaire in entreprise.stagiaires %}
                <a href="{{ path('stagiaire_show',{id:stagiaire.id}) }}" target="_blank" class="text-body ml-2">{{ stagiaire.prenom~" "~stagiaire.nom }}</a><br/>
            {% endfor %}
        </div>
    {% endif %}
  </div>
</div>
<!--Modal-->
<div class="modal fade" id="modalContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
            </div>
            <div class="modal-body bg-secondary w-100" id="modal-body-contact">
                <p class="text-center text-light m-0">Chargement des données, veuillez patientez ....</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
function detailsContact(id)
    {
    $.ajax({
        url:"{{ path('contact_show',{'id':'id'}) }}".replace('id',id),
        type:"POST",
        dataType:"html",
        data:{},
        async:true,
        success:function(data)
            {
            $('#modal-body-contact').html(data);
            }
        });
    }
</script>
{% endblock %}
