{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Accueil" }}{% endblock %}

{% block body %}
	<div id="calendar-holder" class="container-fluid"></div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.css">
{% endblock %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/interaction/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/timegrid/main.min.js"></script>
<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () =>
	{
	var calendarEl = document.getElementById('calendar-holder');
	var calendar = new FullCalendar.Calendar(calendarEl,
		{
		height: "parent",
  	eventSources: [{
    	url: "/fc-load-events",
      method: "POST",
      extraParams:
      	{
        filters: JSON.stringify({})
      	},
    	failure: () =>
    		{
      	alert("There was an error while fetching FullCalendar!");
    		},
    	}],
		header:
  		{
    	left: 'title',
    	right: 'prev,next today',
  		},
  	buttonText:
  		{
  		today: "aujourd'hui",
  		},
  	plugins: [ 'interaction', 'dayGrid', 'timeGrid' ], // https://fullcalendar.io/docs/plugin-index
		timeZone: 'Europe/Paris'
		});
calendar.setOption('locale','fr');
calendar.render();
});
</script>
{% endblock %}
