<form method="post" action="{{ path('stagiaire_delete', {'id': stagiaire.id}) }}" onsubmit="return confirm('Est-vous sûr de supprimer cet étudiant ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ stagiaire.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
