{% set demandeEmploi=stagiaire.idDemandeurEmploi %}
{% set niveauScolaire=stagiaire.idNiveauScolaire %}

{{ form_start(form,{'multipart':true,'attr':{'class':'container-fluid'}}) }}
<div class="d-flex">
	<a href="{{ path('stagiaire_index') }}" class="btn btn-primary">Retour à la liste</a>
	{% if stagiaire.id is not null %}
				<a href="{{ path('stagiaire_show', {'id': stagiaire.id}) }}" class="btn btn-primary ml-2">Afficher</a>
	{% endif %}
	<button class="btn btn-success ml-2">{{ button_label|default('Sauvegarder') }}</button>
</div>
<div class="row">
	<!--Panneau formulaires-->
	<nav class="col-auto">
		<h3 class="text-light">Liste des formulaires</h3>
		<ul class="d-flex flex-column">
			<li>
				<button type="button" class="btn btn-primary mb-1 text-light btnNavForm" id="identite">Identité</button>
			</li>
			<li>
				<button type="button" class="btn btn-outline-info mb-1 text-light btnNavForm" id="informationsComplementaire">Informations complémentaires</button>
			</li>
			<li>
				<button type="button" class="btn btn-outline-info mb-1 text-light btnNavForm" id="niveauScolaire">Niveau scolaire</button>
			</li>
			<li>
				<button type="button" class="btn btn-outline-info mb-1 text-light btnNavForm" id="demandeEmploi">Demandeur d'emploi (optionnel)</button>
			</li>
			<li>
				<button type="button" class="btn btn-outline-info text-light btnNavForm" id="document">Documents</button>
			</li>
		</ul>
	</nav>
	<!--Formulaires-->
	<div class="col-auto mb-3">
		<!--Form identite-->
		<div id="identiteForm" class="form">
			<h3 class="text-light">Identité</h3>
			<div class="input-group mb-1">
				<div class="input-group-prepend">{{ form_label(form.prenom,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
				{% if stagiaire.id is not null %}
					{{ form_widget(form.prenom,{'attr':{'class':'form-control','readonly':'readonly'}}) }}
				{% else %}
					{{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
				{% endif %}
			</div>
			<div class="input-group mb-1">
				<div class="input-group-prepend">{{ form_label(form.nom,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
				{% if stagiaire.id is not null %}
					{{ form_widget(form.nom,{'attr':{'class':'form-control','readonly':'readonly'}}) }}
				{% else %}
					{{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
				{% endif %}
			</div>
			<div class="input-group mb-1">
				<div class="input-group-prepend">{{ form_label(form.nationalite,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
				{{ form_widget(form.nationalite,{'attr':{'class':'form-control'}}) }}
			</div>
			<div class="input-group mb-1">
				<div class="input-group-prepend">{{ form_label(form.date_naissance,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
				{{ form_widget(form.date_naissance,{'attr':{'class':'form-control'}}) }}
			</div>
			<div class="input-group mb-1">
				<div class="input-group-prepend">{{ form_label(form.lieu_naissance,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
				{{ form_widget(form.lieu_naissance,{'attr':{'class':'form-control'}}) }}
		    </div>
	    </div>
	    <!--Form information complementaire-->
	    <div id="informationsComplementaireForm" class="form">
	    	<h3 class="text-light">Informations complémentaires</h3>
			<div class="input-group mb-1">
				<div class="input-group-prepend">{{ form_label(form.mail,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
				{{ form_widget(form.mail,{'attr':{'class':'form-control'}}) }}
			</div>
			<div class="input-group mb-1">
				<div class="input-group-prepend">{{ form_label(form.telephone,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
				{{ form_widget(form.telephone,{'attr':{'class':'form-control'}}) }}
			</div>
			<div class="d-flex justify-content-between mb-1">
				<div class="input-group">
		    		{{ form_label(form.permis,'',{'label_attr':{'class':'input-group-text'}}) }}
		    		{{ form_widget(form.permis,{'attr':{'class':'d-flex align-items-center'},'label_attr':{'class':'mb-0 mr-2 text-light'}}) }}
				</div>
				<div class="input-group ml-1">
		    		{{ form_label(form.vehicule,'',{'label_attr':{'class':'input-group-text'}}) }}
		    		{{ form_widget(form.vehicule,{'attr':{'class':'d-flex align-items-center'},'label_attr':{'class':'mb-0 mr-2 text-light'}}) }}
				</div>
			</div>
			<div class="input-group mb-1">
				{{ form_label(form.travailleur_handicape,'',{'label_attr':{'class':'input-group-text'}}) }}
				{{ form_widget(form.travailleur_handicape,{'attr':{'class':'d-flex align-items-center'},'label_attr':{'class':'mb-0 mr-2 text-light'}}) }}
			</div>
			<div class="input-group mb-1">
				<div class="input-group-prepend">{{ form_label(form.numero_secu,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
				{{ form_widget(form.numero_secu,{'attr':{'class':'form-control'}}) }}
			</div>
			<div class="input-group mb-1">
				<div class="input-group-prepend">{{ form_label(form.situation_familiale,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
				{{ form_widget(form.situation_familiale,{'attr':{'class':'form-control'}}) }}
			</div>
			<div class="input-group mb-1">
				<div class="input-group-prepend"><label for="ville_id" class="required input-group-text">Ville</label></div>
				<select id="ville_id" name="ville" class="form-control" required="required">
					{% for ville in villes %}
						<option value="{{ ville.id }}">{{ ville.nom~" "~ville.codePostal }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="d-flex align-items-center">
				<h5 class="text-light m-0">Rue</h5>
				<div class="input-group ml-1">
					<div class="input-group-prepend">{{ form_label(form.rue,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
		    		{{ form_widget(form.rue,{'attr':{'class':'form-control'}}) }}
					<div class="input-group-prepend">{{ form_label(form.num_rue,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
		    		{{ form_widget(form.num_rue,{'attr':{'class':'form-control'}}) }}
		    	</div>
			</div>
		</div>
		<!--Form niveau scolaire-->
		<div id="niveauScolaireForm" class="form">
			<h3 class="text-light">Niveau scolaire</h3>
			<div class="d-flex">
				<div class="d-flex flex-column mr-2 w-50">
					<h5 class="text-light">Dernière classe</h5>
					<div class="input-group mb-1">
						<div class="input-group-prepend"><label for="niveau_scolaire_derniere_classe_nom" class="required input-group-text">Nom</label></div>
						<input type="text" class="form-control" id="niveau_scolaire_derniere_classe_nom" name="niveau_scolaire[derniere_classe_nom]" {% if niveauScolaire is not null %}value="{{ niveauScolaire.derniereClasse }}"{% endif %} required="required">
					</div>
					<div class="input-group mb-1">
						<div class="input-group-prepend"><label for="niveau_scolaire_derniere_classe_date" class="required input-group-text">Date</label></div>
						<input type="date" class="form-control" id="niveau_scolaire_derniere_classe_date" name="niveau_scolaire[derniere_classe_date]" {% if niveauScolaire is not null %}value="{{ niveauScolaire.dateDerniereClasse|date('Y-m-d') }}"{% endif %} required="required">
					</div>
					<h5 class="text-light">Dernier diplôme</h5>
					<div class="input-group mb-1">
						<div class="input-group-prepend"><label for="niveau_scolaire_dernier_diplome_nom" class="required input-group-text">Nom</label></div>
						<input type="text" class="form-control" id="niveau_scolaire_dernier_diplome_nom" name="niveau_scolaire[dernier_diplome_nom]" {% if niveauScolaire is not null %}value="{{ niveauScolaire.dernierDiplome }}"{% endif %} required="required">
					</div>
					<div class="input-group">
						<div class="input-group-prepend"><label for="niveau_scolaire_dernier_diplome_date" class="required input-group-text">Date</label></div>
						<input type="date" class="form-control" id="niveau_scolaire_dernier_diplome_date" name="niveau_scolaire[dernier_diplome_date]" {% if niveauScolaire is not null %}value="{{ niveauScolaire.dateDernierDiplome|date('Y-m-d') }}"{% endif %} required="required">
					</div>
				</div>
				<div class="d-flex flex-column w-50">
					<h5 class="text-light">Dernier emploi</h5>
					<div class="input-group mb-1">
						<div class="input-group-prepend"><label for="niveau_scolaire_dernier_emploi_nom" class="required input-group-text">Nom</label></div>
						<input type="text" class="form-control" id="niveau_scolaire_dernier_emploi_nom" name="niveau_scolaire[dernier_emploi_nom]" {% if niveauScolaire is not null %}value="{{ niveauScolaire.dernierEmploi }}"{% endif %} required="required">
					</div>
					<div class="input-group mb-1">
						<div class="input-group-prepend"><label for="niveau_scolaire_dernier_emploi_date" class="required input-group-text">Date</label></div>
						<input type="date" class="form-control" id="niveau_scolaire_dernier_emploi_date" name="niveau_scolaire[dernier_emploi_date]" {% if niveauScolaire is not null %}value="{{ niveauScolaire.dateDernierEmploi|date('Y-m-d') }}"{% endif %} required="required">
					</div>
					<h5 class="text-light">Employeur</h5>
					<div class="input-group mb-1">
						<div class="input-group-prepend"><label for="niveaue_scolaire_dernier_emploi_nom_employeur" class="required input-group-text">Nom</label></div>
						<input type="text" class="form-control" id="niveau_scolaire_dernier_emploi_nom_employeur" name="niveau_scolaire[dernier_emploi_nom_employeur]" {% if niveauScolaire is not null %}value="{{ niveauScolaire.nomDernierEmployeur }}"{% endif %} required="required">
					</div>
					<div class="input-group">
						<div class="input-group-prepend"><label for="niveau_scolaire_dernier_emploi_adresse_employeur" class="required input-group-text">Adresse</label></div>
						<input type="text" class="form-control" id="niveau_scolaire_dernier_emploi_adresse_employeur" name="niveau_scolaire[dernier_emploi_adresse_employeur]" {% if niveauScolaire is not null %}value="{{ niveauScolaire.adresseDernierEmployeur }}"{% endif %} required="required">
					</div>
				</div>
			</div>
			<h4 class="text-light">Formation</h4>
			<div class="d-flex">
		    	<div class="input-group w-50">
					<div class="input-group-prepend"><label for="statut_id" class="required input-group-text">Statut:</label></div>
					<select id="statut_id" class="form-control" name="statut">
						{% for statut in statuts %}
							<option value="{{ statut.id }}" {% if stagiaire.idStatut == statut %}selected{% endif %}>{{ statut.libelle }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="input-group w-50 ml-1">
					<div class="input-group-prepend"><label for="entreprise_id" class="required input-group-text">Entreprise:</label></div>
					<select id="entreprise_id" class="form-control" name="entreprise">
						{% for entreprise in entreprises %}
							<option value="{{ entreprise.id }}" {% if stagiaire.idEntreprise == entreprise %}selected{% endif %}>{{ entreprise.nom }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>
		<!--Form demande d'emploi-->
		<div id="demandeEmploiForm" class="form">
			<h3 class="text-light">Demandeur d'emploi (optionnel)</h3>
	    	<div class="d-flex flex-column">
		    	<div class="input-group mb-1">
					<div class="input-group-prepend"><label for="demandeur_emploi_date_inscription" class="required input-group-text">Date d'inscription</label></div>
					<input type="int" class="form-control" id="demandeur_emploi_date_inscription" name="demandeur_emploi[date_inscription]" {% if demandeEmploi is not null %}value="{{ demandeEmploi.dateInscription }}"{% endif %}>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend"><label for="demandeur_emploi_identifiant" class="required input-group-text">Identifiant</label></div>
					<input type="text" class="form-control" id="demandeur_emploi_identifiant" name="demandeur_emploi[identifiant]" {% if demandeEmploi is not null %}value="{{ demandeEmploi.identifiant }}"{% endif %}>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend"><label for="demandeur_emploi_ville_pole_emploi" class="required input-group-text">Ville du pôle emploi</label></div>
					<input type="text" class="form-control" id="demandeur_emploi_ville_pole_emploi" name="demandeur_emploi[ville_pole_emploi]" {% if demandeEmploi is not null %}value="{{ demandeEmploi.villePoleEmploi }}"{% endif %}>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend"><label for="demandeur_emploi_antenne_mission_local" class="required input-group-text">Antenne mission local</label></div>
					<input type="text" class="form-control" id="demandeur_emploi_antenne_mission_local" name="demandeur_emploi[antenne_mission_local]" {% if demandeEmploi is not null %}value="{{ demandeEmploi.antenneMissionLocale }}"{% endif %}>
				</div>
				<div class="input-group mb-1">
					<div class="input-group-prepend"><label for="demandeur_emploi_nom_conseiller" class="required input-group-text">Nom du conseiller</label></div>
					<input type="text" class="form-control" id="demandeur_emploi_nom_conseiller" name="demandeur_emploi[nom_conseiller]" {% if demandeEmploi is not null %}value="{{ demandeEmploi.nomConseiller }}"{% endif %}>
				</div>
				<div class="input-group">
					<label class="required input-group-text mr-1">CIVIS</label>
					<div class="d-flex align-items-center">
						<div class="form-check">
							<input type="radio" name="demandeur_emploi[civis]" value="1" id="oui" {% if demandeEmploi is not null and demandeEmploi.CIVIS == 1 %}checked{% endif %} class="form-check-input">
							<label for="oui" class="form-check-label mb-0 mr-2 text-light">Oui</label>
						</div>
						<div class="form-check">
							<input type="radio" name="demandeur_emploi[civis]" value="0" id="non" {% if demandeEmploi is not null and demandeEmploi.CIVIS == 0 %}checked{% endif %} class="form-check-input">
							<label for="non" class="form-check-label mb-0 mr-2 text-light">Non</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Form documents-->
		<div id="documentForm" class="form">
			<h3 class="text-light">Documents</h3>
			<div class="input-group mb-2">
				<label for="document_cerfa" class="required input-group-text">cerfa</label>
				<div class="custom-file">
					<input type="file" id="document_cerfa" name="document[cerfa]" class="form-control-file text-light custom-file-input" {% if stagiaire.id is null %}required{% endif %}>
					<label for="document_cerfa" class="custom-file-label"></label>
				</div>
			</div>
			<div class="input-group align-items-center mb-2">
				<label for="document_convention_financiere" class="required input-group-text">Convention financière</label>
				<div class="custom-file">
					<input type="file" id="document_convention_financiere" name="document[convention_financiere]" class="form-control-file text-light w-auto" {% if stagiaire.id is null %}required{% endif %}>
					<label for="document_convention_financiere" class="custom-file-label"></label>
				</div>
			</div>
			<div class="input-group align-items-center mb-2">
				<label for="document_lm" class="required input-group-text">Lettre de motivation</label>
				<div class="custom-file">
					<input type="file" id="document_lm" name="document[lm]" class="form-control-file text-light w-auto" {% if stagiaire.id is null %}required{% endif %}>
					<label for="document_lm" class="custom-file-label"></label>
				</div>
			</div>
			<div class="input-group align-items-center mb-2">
				<label for="document_cv" class="required input-group-text">CV</label>
				<div class="custom-file">
					<input type="file" id="document_cv" name="document[cv]" class="form-control-file text-light w-auto" {% if stagiaire.id is null %}required{% endif %}>
					<label for="document_cv" class="custom-file-label"></label>
				</div>
			</div>
			<div class="input-group align-items-center mb-2">
				<label for="document_lettre_demission" class="required input-group-text">Lettre de démission</label>
				<div class="custom-file">
					<input type="file" id="document_lettre_demission" name="document[lettre_demission]" class="form-control-file text-light w-auto" {% if stagiaire.id is null %}required{% endif %}>
					<label for="document_lettre_demission" class="custom-file-label"></label>
				</div>
			</div>
			<div class="input-group align-items-center mb-2">
				<label for="document_eval_entreprise" class="required input-group-text">Evaluation entreprise</label>
				<div class="custom-file">
					<input type="file" id="document_eval_entreprise" name="document[eval_entreprise]" class="form-control-file text-light w-auto" {% if stagiaire.id is null %}required{% endif %}>
					<label for="document_eval_entreprise" class="custom-file-label"></label>
				</div>
			</div>
			<div class="input-group align-items-center">
				<label for="document_eval_entretien" class="required input-group-text">Evaluation entretien</label>
				<div class="custom-file">
					<input type="file" id="document_eval_entretien" name="document[eval_entretien]" class="form-control-file text-light w-auto" {% if stagiaire.id is null %}required{% endif %}>
					<label for="document_eval_entretien" class="custom-file-label"></label>
				</div>
			</div>
		</div>
	</div>
	<!--Sessionss-->
	<div class="col-auto mb-3">
		<div class="d-flex align-items-center">
			<h4 class="text-light m-0">Sessions</h4>
			<button type="button" class="btn btn-primary ml-1" data-toggle="modal" data-target="#modalSession">Ajouter</button>
		</div>
		<div id="list_session">
			{% for session in stagiaire.sessions %}
        <div class="d-flex align-items-center mt-1">
        	<button type="button" class="btn btn-danger mr-1" onclick="suppressionSession({{ session.id }})">Supprimer</button>
        	<a href="{{ path('session_show',{'id':session.id}) }}" target="_blank" class="text-body">{{ session.nom }}</a>
        </div>
      {% endfor %}
		</div>
	</div>
	<!--Allocations-->
	<div class="col-auto">
		<p class="text-warning m-0 text-left">Les allocations nécessitent "Demandeur d'emploi".</p>
		<div class="d-flex align-items-center">
			<h4 class="text-light m-0">Allocations</h4>
    		<button type="button" class="btn btn-primary ml-1" data-toggle="modal" data-target="#modalAllocation">Ajouter</button>
		</div>
  	<div id="list_allocation">
  		{% if demandeEmploi is not null %}
    		{% for allocation in demandeEmploi.idAllocation %}
	            <div class="d-flex align-items-center mt-1">
	            	<button type="button" class="btn btn-danger mr-1" onclick="suppressionAllocation({{ allocation.id }})">Supprimer</button>
	            	<div>
	            		<strong class="text-white m-0">{{ allocation.libelle }}</strong>
	            		<p class="text-light m-0">{{ allocation.description }}</p>
	            	</div>
	            </div>
	        {% endfor %}
        {% endif %}
    	</div>
	</div>
</div>
{{ form_end(form) }}

<!--Modal session-->
<div class="modal fade" id="modalSession" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Session</h5>
            </div>
            <div class="modal-body bg-secondary w-100" id="modal-body-session">
                <form>
                	<div class="input-group">
						<div class="input-group-prepend"><label for="session_id" class="required input-group-text">Session</label></div>
						<select id="session_id" name="session[id]" class="form-control" required="required">
							{% for session in sessions %}
								<option value="{{ session.id }}">{{ session.nom }}</option>
							{% endfor %}
						</select>
					</div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="validationSession" class="btn btn-success" data-dismiss="modal">Valider</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
<!--Modal allocation-->
<div class="modal fade" id="modalAllocation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Allocation</h5>
            </div>
            <div class="modal-body bg-secondary w-100" id="modal-body-allocation">
                <form>
                	<div class="input-group">
						<div class="input-group-prepend"><label for="allocation_id" class="required input-group-text">Allocation</label></div>
						<select id="allocation_id" name="allocation[id]" class="form-control" required="required">
							{% for allocation in allocations %}
								<option value="{{ allocation.id }}">{{ allocation.libelle }}</option>
							{% endfor %}
						</select>
					</div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="validationAllocation" class="btn btn-success" data-dismiss="modal">Valider</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$('.form').hide();
$('#identiteForm').show();

$('.btnNavForm').click(function()
	{//Changement de formulaire
	$('.form').hide();
	$('#'+$(this).attr('id')+'Form').show();
	//Changement de classe du bouton
	$('button.btnNavForm.btn-primary').removeClass('btn-primary').addClass('btn-outline-info');
	$(this).removeClass('btn-outline-info').addClass('btn-primary');
	});
{% if demandeEmploi is null %}
//Bouton Valider de la modal Allocation
$('#validationAllocation').click(function()
	{//Récupération des valeurs
	let allocation=$('#allocation_id option:selected');
	//Vérification des valeurs
	if(allocation.val().trim()!="")
        {//Calcul le nombre d'enseignement déjà crée
        let length=$('#list_allocation div').length;
        //Ajout de l'allocation en html
        $('#list_allocation').append(
        	'<div id="allocation_'+length+'" class="d-flex align-items-center mt-1">'+
        		'<button type="button" class="btn btn-danger mr-1" onclick="suppressionAllocation('+length+')">Supprimer</button>'+
        		'<p class="text-light m-0">'+allocation.text()+'</p>'+
        		'<input class="allocation" type="hidden" name="allocation_'+length+'" value="'+allocation.val()+'"/>'+
    		'</div>');
        }
	});
//Bouton de suppresion d'une allocation
function suppressionAllocation(id)
    {//Suppression de la div parente du bouton
    $('#allocation_'+id).remove();
    for(let i=id;i<$('#list_allocation div').length;i++)
        {//Modification des attributs
        //Div suivante
        $('#allocation_'+(i+1)).attr('id',"allocation_"+i);
        //Elements html de la div suivante
        $('#allocation_'+i+' button').attr('onclick',"suppressionAllocation("+i+")");
        $('#allocation_'+i+' .id').attr('name','allocation_'+i);
        }
    }
{% else %}
//Bouton Valider de la modal Allocation
$('#validationAllocation').click(function()
	{
	//Récupération de la valeur
	let allocationId=$('#allocation_id option:selected').val().trim();
	if(allocationId!="")
        $.ajax({
	        url:"{{ path('add_allocation',{'stagiaire':stagiaire.id,'allocation':'allocationId'}) }}".replace('allocationId',allocationId),
	        type:"POST",
	        dataType:"html",
	        data:{},
	        async:true,
	        success:function(data)
	            {
	            $('#list_allocation').html(data);
	            }
	        });
	});
//Bouton de suppresion d'une allocation
function suppressionAllocation(id)
    {
    if(confirm("Est-vous sûr d'enlever cette allocation ?"))
        $.ajax({
            url:"{{ path('delete_allocation',{'stagiaire':stagiaire.id,'allocation':'allocationId'}) }}".replace('allocationId',id),
            type:"POST",
            dataType:"html",
            data:{},
            async:true,
            success:function(data)
                {
                $('#list_allocation').html(data);
                }
            });
    }
{% endif %}
</script>
