{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Editier Etudiant" }}{% endblock %}
{% block body %}
{{ include('stagiaire/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
//Dans le cas où un étudiant n'a qu'une et une seule session
if($('#list_session div').length==1)
    $('#list_session div button').remove();

//Bouton Valider de la modal de session
$('#validationSession').click(function()
    {
    let sessionId=$('#session_id option:selected').val().trim();
    if(sessionId!="")
        {
        $.ajax({
            url:"{{ path('add_session',{'stagiaire':stagiaire.id,'session':'sessionId'}) }}".replace('sessionId',sessionId),
            type:"POST",
            dataType:"html",
            data:{},
            async:true,
            success:function(data)
                {
                $('#list_session').html(data);
                //Si il y a qu'une session
                if($('#list_session div').length==1)
                    $('#list_session div button').remove();
                }
            });
        }
    });
//Bouton de suppresion d'une session
function suppressionSession(id)
    {
    if(confirm("Est-vous sûr d'enlever cette session ?"))
        {
        $.ajax({
            url:"{{ path('delete_session',{'stagiaire':stagiaire.id,'session':'sessionId'}) }}".replace('sessionId',id),
            type:"POST",
            dataType:"html",
            data:{},
            async:true,
            success:function(data)
                {
                $('#list_session').html(data);
                //Si il y a qu'une session
                if($('#list_session div').length==1)
                    $('#list_session div button').remove();
                }
            });
        }
    }
</script>
{% endblock %}
