{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Stagiaires" }}{% endblock %}

{% block body %}
<div class="container-fluid">
  <h3 class="text-light">Liste des étudiants</h3>
  <a href="{{ path('stagiaire_new') }}" class="btn btn-primary mb-2">Nouveau étudiant</a>
  {% if pages > 1 %}
      <nav class="d-flex">
          <ul class="pagination">
              {% if page > 1 %}
                  <li class="page-item"><a class="page-link" href="{{ path('stagiaire_index', {'page': 1}) }}">Début</a></li>
                  <li class="page-item"><a class="page-link" href="{{ path('stagiaire_index', {'page': page-1}) }}">Précédent</a></li>
              {% endif %}
              {% for i in range(pageDebut,pageFin) %}
                  <li class="page-item">
                      {% if page == i %}
                          <a class="page-link bg-primary text-light">{{ i }}</a>
                      {% else %}
                          <a class="page-link" href="{{ path('stagiaire_index', {'page': i}) }}">{{ i }}</a>
                      {% endif %}
                  </li>
              {% endfor %}
              {% if page < pages %}
                  <li class="page-item"><a class="page-link" href="{{ path('stagiaire_index', {'page': page+1}) }}">Suivant</a></li>
                  <li class="page-item"><a class="page-link" href="{{ path('stagiaire_index', {'page': pages}) }}">Fin</a></li>
              {% endif %}
          </ul>
      </nav>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-dark table-striped table-hover table-bordered mb-0">
        <thead>
            <tr>
                <th class="text-truncate">Nom</th>
                <th class="text-truncate">Prénom</th>
                <th class="text-truncate">Téléphone</th>
                <th class="text-truncate">Email</th>
                <th class="text-truncate">Nationalité</th>
                <th class="text-truncate">Permis</th>
                <th class="text-truncate">Véhicule</th>
                <th class="w-25">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stagiaire in stagiaires %}
            <tr>
                <td class="align-middle text-truncate">{{ stagiaire.nom }}</td>
                <td class="align-middle text-truncate">{{ stagiaire.prenom }}</td>
                <td class="align-middle text-truncate">{{ stagiaire.telephone }}</td>
                <td class="align-middle text-truncate">{{ stagiaire.mail }}</td>
                <td class="align-middle text-truncate">{{ stagiaire.nationalite }}</td>
                <td class="align-middle text-truncate">{{ stagiaire.permis ? 'Oui' : 'Non' }}</td>
                <td class="align-middle text-truncate">{{ stagiaire.vehicule ? 'Oui' : 'Non' }}</td>
                <td>
                  <div class="d-flex">
                      <a href="{{ path('stagiaire_show', {'id': stagiaire.id}) }}" class="btn btn-primary">Afficher</a>
                      <a href="{{ path('stagiaire_edit', {'id': stagiaire.id}) }}" class="btn btn-warning ml-2 mr-2">Editer</a>
                      {{ include('stagiaire/_delete_form.html.twig') }}
                  </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun étudiant</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
