{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Nouveau Etudiant" }}{% endblock %}

{% block body %}
  {{ include('stagiaire/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">
  function suppressionSession(id)
      {//Suppression de la div parente du bouton
      $('#session_'+id).remove();
      //Parcours les div situées après la div supprimé
      for(let i=id;i<$('#list_session div').length;i++)
          {//Modification des attributs
          //Div suivante
          $('#session_'+(i+1)).attr('id','session_'+i);
          //Elements html de la div suivante
          $('#session_'+i+' button').attr('onclick','suppressionSession('+i+')');
          $('#session_'+i+' .session').attr('name','session_'+i+'');
          }
      }
  //Bouton Valider de la modal de session
  $('#validationSession').click(function()
      {//Récupération des valeurs
      let sessionId=$('#session_id option:selected');
      //Vérification des valeurs
      if(sessionId.val().trim()!="")
          {//Calcul le nombre de sessions déjà crée
          let length=$('#list_session div').length;
          //Ajout de la session en html
          $('#list_session').append(
              '<div id="session_'+length+'" class="d-flex align-items-center mt-1">'+
                  '<button type="button" class="btn btn-danger mr-1" onclick="suppressionSession('+length+')">Supprimer</button>'+
                  '<p class="text-light m-0">'+sessionId.text()+'</p>'+
                  '<input class="session" type="hidden" name="session_'+length+'" value="'+sessionId.val()+'"/>'+
              '</div>');
          }
      });
  </script>
{% endblock %}
