{% extends 'base.html.twig' %}

{% set demandeEmploi=stagiaire.idDemandeurEmploi %}
{% set niveauScolaire=stagiaire.idNiveauScolaire %}
{% set document=stagiaire.idDocument %}

{% block title %}{{ parent() ~ " - Affichage Etudiant" }}{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="d-flex">
      <a href="{{ path('stagiaire_index') }}" class="btn btn-primary">Retour à la liste</a>
      <a href="{{ path('stagiaire_edit', {'id': stagiaire.id}) }}" class="btn btn-warning ml-2 mr-2">Editer</a>
      {{ include('stagiaire/_delete_form.html.twig') }}
  </div>
  <div class="row">
      <!--Panneau données-->
      <nav class="col-auto">
          <h3 class="text-light">Liste des données</h3>
          <ul class="d-flex flex-column">
              <li>
                  <button type="button" class="btn btn-primary mb-1 text-light btnNavShow" id="identite">Identité</button>
              </li>
              <li>
                  <button type="button" class="btn btn-outline-info mb-1 text-light btnNavShow" id="informationsComplementaire">Informations complémentaires</button>
              </li>
              <li>
                  <button type="button" class="btn btn-outline-info mb-1 text-light btnNavShow" id="niveauScolaire">Niveau scolaire</button>
              </li>
              {% if demandeEmploi is not null %}
                  <li>
                      <button type="button" class="btn btn-outline-info mb-1 text-light btnNavShow" id="demandeEmploi">Demandeur d'emploi</button>
                  </li>
              {% endif %}
              <li>
                  <button type="button" class="btn btn-outline-info text-light btnNavShow" id="document">Documents</button>
              </li>
          </ul>
      </nav>
      <!--Données-->
      <div class="col-auto mb-3">
          <!--Show identite-->
          <div id="identiteShow" class="show">
              <h3 class="text-light">Identité</h3>
              <p class="text-light m-0">
                  <strong class="text-white">Nom: </strong>
                  {{ stagiaire.nom }}
              </p>
              <p class="text-light m-0">
                  <strong class="text-white">Prénom: </strong>
                  {{ stagiaire.prenom }}
              </p>
              <p class="text-light m-0">
                  <strong class="text-white">Nationalité: </strong>
                  {{ stagiaire.nationalite }}
              </p>
              <p class="text-light m-0">
                  <strong class="text-white">Date de naissance: </strong>
                  {{ stagiaire.lieuNaissance }}
              </p>
              <p class="text-light m-0">
                  <strong class="text-white">Lieu de naissance: </strong>
                  {{ stagiaire.dateNaissance|date('d/m/Y') }}
              </p>
          </div>
          <!--Show informations complémentaires-->
          <div id="informationsComplementaireShow" class="show">
              <h3 class="text-light">Information complémentaire</h3>
              <p class="text-light m-0">
                  <strong class="text-white">Mail: </strong>
                  {{ stagiaire.mail }}
              </p>
              <p class="text-light m-0">
                  <strong class="text-white">Téléphone: </strong>
                  {{ stagiaire.telephone }}
              </p>
              <p class="text-light m-0">
                  <strong class="text-white">Permis: </strong>
                  {{ stagiaire.permis ? 'oui' : 'non' }}
              </p>
              <p class="text-light m-0">
                  <strong class="text-white">Véhicule: </strong>
                  {{ stagiaire.vehicule ? 'oui' : 'non' }}
              </p>
              <p class="text-light m-0">
                  <strong class="text-white">Travailleur handicapé: </strong>
                  {{ stagiaire.travailleurHandicape ? 'oui' : 'non' }}
              </p>
              <p class="text-light m-0">
                  <strong class="text-white">Numéro de sécurité social: </strong>
                  {{ stagiaire.numeroSecu }}
              </p>
              <p class="text-light m-0">
                  <strong class="text-white">Situation familiale: </strong>
                  {{ stagiaire.situationFamiliale }}
              </p>
              <p class="text-light m-0">
                  <strong class="text-white">Adresse: </strong>
                  {{ stagiaire.numRue~" "~stagiaire.rue~" "~stagiaire.idVille.nom~" "~stagiaire.idVille.codePostal }}
              </p>
          </div>
          <!--Show niveau scolaire-->
          <div id="niveauScolaireShow" class="show">
              <h3 class="text-light">Niveau scolaire</h3>
              <div class="d-flex">
                  <div class=" w-50">
                      <h4 class="text-light mb-0">Dernière classe</h4>
                      <p class="text-light m-0">
                          <strong class="text-white">Nom: </strong>
                          {{ niveauScolaire.derniereClasse }}
                      </p>
                      <p class="text-light m-0">
                          <strong class="text-white">Date: </strong>
                          {{ niveauScolaire.dateDerniereClasse|date('d/m/Y') }}
                      </p>
                      <h4 class="text-light mb-0 mt-2">Dernier diplôme</h4>
                      <p class="text-light m-0">
                          <strong class="text-white">Nom: </strong>
                          {{ niveauScolaire.dernierDiplome }}
                      </p>
                      <p class="text-light m-0">
                          <strong class="text-white">Date: </strong>
                          {{ niveauScolaire.dateDernierDiplome|date('d/m/Y') }}
                      </p>
                  </div>
                  <div class="w-50 ml-3">
                      <h4 class="text-light mb-0">Dernier emploi</h4>
                      <p class="text-light m-0">
                          <strong class="text-white">Nom: </strong>
                          {{ niveauScolaire.dernierEmploi }}
                      </p>
                      <p class="text-light m-0">
                          <strong class="text-white">Date: </strong>
                          {{ niveauScolaire.dateDernierEmploi|date('d/m/Y') }}
                      </p>
                      <h4 class="text-light mb-0 mt-2">Employeur</h4>
                      <p class="text-light m-0">
                          <strong class="text-white">Nom: </strong>
                          {{ niveauScolaire.nomDernierEmployeur }}
                      </p>
                      <p class="text-light m-0">
                          <strong class="text-white">Adresse: </strong>
                          {{ niveauScolaire.adresseDernierEmployeur }}
                      </p>
                  </div>
              </div>
              <h4 class="text-light mb-0 mt-2">Formation</h4>
              <div class="d-flex">
                  <p class="text-light m-0 w-50">
                      <strong class="text-white">Statut: </strong>
                      {{ stagiaire.idStatut.libelle }}
                  </p>
                  <p class="m-0 ml-3 w-50">
                      <strong class="text-white">Entreprise: </strong>
                      <a href="{{ path('entreprise_show',{'id':stagiaire.idEntreprise.id}) }}" target="_blank" class="text-body">{{ stagiaire.idEntreprise.nom }}</a>
                  </p>
              </div>
          </div>
          <!--Show demandeur d'emploi-->
          {% if demandeEmploi is not null %}
              <div id="demandeEmploiShow" class="show">
                  <h3 class="text-light">Demandeur d'emploi</h3>
                  <div>
                      <p class="text-light m-0">
                          <strong class="text-white">Date d'inscription: </strong>
                          {{ demandeEmploi.dateInscription }}
                      </p>
                      <p class="text-light m-0">
                          <strong class="text-white">Identifiant: </strong>
                          {{ demandeEmploi.identifiant }}
                      </p>
                      <p class="text-light m-0">
                          <strong class="text-white">Ville du pôle emploi: </strong>
                          {{ demandeEmploi.villePoleEmploi }}
                      </p>
                      <p class="text-light m-0">
                          <strong class="text-white">Antenne mission local: </strong>
                          {{ demandeEmploi.antenneMissionLocale }}
                      </p>
                      <p class="text-light m-0">
                          <strong class="text-white">Nom du conseiller: </strong>
                          {{ demandeEmploi.nomConseiller }}
                      </p>
                      <p class="text-light m-0">
                          <strong class="text-white">CIVIS: </strong>
                          {{ demandeEmploi.CIVIS ? 'oui' : 'non' }}
                      </p>
                  </div>
              </div>
          {% endif %}
          <!--Show documents-->
          <div id="documentShow" class="show">
              <h3 class="text-light">Document</h3>
              <p><a href="{{ asset(document.cerfa) }}" target="_blank" class="btn btn-info">cerfa - visualiser</a></p>
              <p><a href="{{ asset(document.conventionFinanciere) }}" target="_blank" class="btn btn-info">Convention financière - visualiser</a></p>
              <p><a href="{{ asset(document.lm) }}" target="_blank" class="btn btn-info">Lettre de motivation - visualiser</a></p>
              <p><a href="{{ asset(document.cv) }}" target="_blank" class="btn btn-info">CV - visualiser</a></p>
              <p><a href="{{ asset(document.lettreDemission) }}" target="_blank" class="btn btn-info">Lettre de démission - visualiser</a></p>
              <p><a href="{{ asset(document.evalEntretien) }}" target="_blank" class="btn btn-info">Evaluation entreprise - visualiser</a></p>
              <p><a href="{{ asset(document.evalEntreprise) }}" target="_blank" class="btn btn-info">Evaluation entretien - visualiser</a></p>
          </div>
      </div>
      <!--Sessions-->
			<div class="d-flex flex-column col-auto mb-3">
          <h4 class="text-light m-0">Sessions</h4>
          {% for session in stagiaire.sessions %}
              <a href="{{ path('session_show',{'id':session.id}) }}" target="_blank" class="text-body">{{ session.nom }}</a>
          {% endfor %}
			</div>
      <!--Allocations-->
      {% if demandeEmploi is not null and demandeEmploi.idAllocation|length > 0 %}
        <div class="col-auto">
            <h4 class="text-light m-0">Allocation</h4>
            {% for allocation in demandeEmploi.idAllocation %}
              <div class="">
                <strong class="text-white">{{ allocation.libelle }}</strong>
                <p class="text-light m-0">{{ allocation.description }}</p>
              </div>
            {% endfor %}
        </div>
      {% endif %}
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$('.show').hide();
$('#identiteShow').show();

$('.btnNavShow').click(function()
    {//Changement de formulaire
    $('.show').hide();
    $('#'+$(this).attr('id')+'Show').show();
    //Changement de classe du bouton
    $('button.btnNavShow.btn-primary').removeClass('btn-primary').addClass('btn-outline-info');
    $(this).removeClass('btn-outline-info').addClass('btn-primary');
    });
</script>
{% endblock %}
