<form method="post" action="{{ path('session_delete', {'id': session.id}) }}" onsubmit="return confirm('Est-vous sûr de supprimer cette session ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ session.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
