{{ form_start(form,{'attr':{'class':'container-fluid'}}) }}
<div class="d-flex">
	<a href="{{ path('session_index') }}" class="btn btn-primary">Retour à la liste</a>
	{% if session.id is not null %}
        <a href="{{ path('session_show', {'id': session.id}) }}" class="btn btn-primary ml-2">Afficher</a>
    {% endif %}
	<button class="btn btn-success ml-2">{{ button_label|default('Sauvegarder') }}</button>
</div>
<div class="row">
	<div class="col-auto mb-3">
		<h4 class="text-light">Session{% if session.id is not null %} (<a class="text-body" href="{{ path('formation_show',{'id':session.idFormation.id}) }}" target="_blank">{{ session.idFormation.libelle }}</a>){% endif %}</h4>
		<div class="input-group mb-1">
			<div class="input-group-prepend">{{ form_label(form.nom,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
			{{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
		</div>
		<div class="input-group mb-1">
			<div class="input-group-prepend">{{ form_label(form.date_debut,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
			{{ form_widget(form.date_debut,{'attr':{'class':'form-control'}}) }}
		</div>
		<div class="input-group mb-1">
			<div class="input-group-prepend">{{ form_label(form.date_fin,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
			{{ form_widget(form.date_fin,{'attr':{'class':'form-control'}}) }}
		</div>
		{#Lors de la création d'une session#}
		{% if session.id is null %}
			<div class="input-group">
				<div class="input-group-prepend"><label for="formation_id" class="required input-group-text">Formation</label></div>
				<select id="formation_id" name="formation[id]" class="form-control">
					{% for formation in formations %}
						<option value="{{ formation.id }}">{{ formation.libelle }}</option>
					{% endfor %}
				</select>
			</div>
		{% endif %}
	</div>
	<div class="d-flex flex-column col-auto">
		<div class="d-flex align-items-center">
			<h4 class="text-light m-0">Enseigner</h4>
			<button type="button" class="btn btn-primary ml-1" id="btnModalEnseigner" data-toggle="modal" data-target="#modalEnseigner">Ajouter</button>
		</div>
		<div id="list_enseigner">
			{% for enseigner in session.enseigners %}
          <div class="d-flex align-items-center mt-1">
          	<button type="button" class="btn btn-danger" onclick="suppressionEnseigner({{ enseigner.id }})">Supprimer</button>
          	<button type="button" class="btn btn-warning ml-1 mr-1" data-toggle="modal" data-target="#modalEnseigner" onclick="editionEnseigner({{ enseigner.id }})">Editer</button>
          	<p class="text-light m-0">{{ enseigner.idModule.libelle }}</p>
          </div>
      {% endfor %}
		</div>
	</div>
</div>
{{ form_end(form) }}

<!--Modal-->
<div class="modal fade" id="modalEnseigner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enseigner</h5>
            </div>
            <div class="modal-body bg-secondary w-100" id="modal-body-enseigner">
                <p class="text-center text-light m-0">Chargement du formulaire, veuillez patientez ....</p>
            </div>
            <div class="modal-footer">
                <button id="validationEnseigner" class="btn btn-success" data-dismiss="modal">Valider</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            </div>
        </div>
    </div>
</div>
