{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Editier Session" }}{% endblock %}

{% block body %}
{{ include('session/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
//Bouton d'ajout de module
$('#btnModalEnseigner').click(function()
    {
    $('#validationEnseigner').attr('onclick','ajaxEnseigner()');
    $.ajax({
        url:"{{ path('enseigner_form',{'idFormation': session.idFormation.id}) }}",
        type:"POST",
        dataType:"html",
        data:{},
        async:true,
        success:function(data)
            {
            $('#modal-body-enseigner').html(data);
            }
        });
    });
//Bouton de suppresion d'un module
function suppressionEnseigner(id)
    {
    if(confirm('Est-vous sûr de supprimer ce module ?'))
        $.ajax({
            url:"{{ path('enseigner_delete',{'id':'id'}) }}".replace('id',id),
            type:"POST",
            dataType:"html",
            data:{},
            async:true,
            success:function(data)
                {
                $('#list_enseigner').html(data);
                }
            });
    }
//Bouton de modification d'un module
function editionEnseigner(id)
    {
    $('#validationEnseigner').attr('onclick','ajaxEnseigner('+id+')');
    $.ajax({
        url:"{{ path('enseigner_form',{'idFormation': session.idFormation.id ,'idEnseigner':'id'}) }}".replace('id',id),
        type:"POST",
        dataType:"html",
        data:{},
        async:true,
        success:function(data)
            {
            $('#modal-body-enseigner').html(data);
            }
        });
    }
//Bouton qui rajoute ou modifie un module
function ajaxEnseigner(id)
    {
    if(id)
        var path="{{ path('enseigner_edit',{'id':'id'}) }}".replace('id',id);
    else
        var path="{{ path('enseigner_new',{'session':session.id}) }}";
    $.ajax({
        url:path,
        type:"POST",
        dataType:"html",
        data:{'module':$('#enseigner_module_id').val(),'formateur':$('#enseigner_formateur_id').val(),'session':'{{ session.id }}'},
        async:true,
        success:function(data)
            {
            $('#list_enseigner').html(data);
            }
        });
    }
</script>
{% endblock %}
