{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Sessions" }}{% endblock %}

{% block body %}
<div class="container-fluid">
  <h3 class="text-light">Liste des sessions</h3>
  <a href="{{ path('session_new') }}" class="btn btn-primary mb-2">Nouvelle session</a>
  {% if pages > 1 %}
      <nav class="d-flex">
          <ul class="pagination">
              {% if page > 1 %}
                  <li class="page-item"><a class="page-link" href="{{ path('session_index', {'page': 1}) }}">Début</a></li>
                  <li class="page-item"><a class="page-link" href="{{ path('session_index', {'page': page-1}) }}">Précédent</a></li>
              {% endif %}
              {% for i in range(pageDebut,pageFin) %}
                  <li class="page-item">
                      {% if page == i %}
                          <a class="page-link bg-primary text-light">{{ i }}</a>
                      {% else %}
                          <a class="page-link" href="{{ path('session_index', {'page': i}) }}">{{ i }}</a>
                      {% endif %}
                  </li>
              {% endfor %}
              {% if page < pages %}
                  <li class="page-item"><a class="page-link" href="{{ path('session_index', {'page': page+1}) }}">Suivant</a></li>
                  <li class="page-item"><a class="page-link" href="{{ path('session_index', {'page': pages}) }}">Fin</a></li>
              {% endif %}
          </ul>
      </nav>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-dark table-striped table-hover table-bordered mb-0">
        <thead>
            <tr>
                <th class="text-truncate">Nom</th>
                <th class="text-truncate">Date de début</th>
                <th class="text-truncate">Date de fin</th>
                <th class="w-25">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td class="align-middle text-truncate">{{ session.nom }}</td>
                <td class="align-middle text-truncate">{{ session.dateDebut ? session.dateDebut|date('Y-m-d') : '' }}</td>
                <td class="align-middle text-truncate">{{ session.dateFin ? session.dateFin|date('Y-m-d') : '' }}</td>
                <td>
                  <div class="d-flex">
                    <a href="{{ path('session_show', {'id': session.id}) }}" class="btn btn-primary">Afficher</a>
                    <a href="{{ path('session_edit', {'id': session.id}) }}" class="btn btn-warning ml-2 mr-2">Editer</a>
                    {{ include('session/_delete_form.html.twig') }}
                  </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune session</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
