{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Nouvelle Session" }}{% endblock %}

{% block body %}
{{ include('session/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
//Changement de formation, suppression des enseignements
$('#formation_id').change(function()
    {
    $('#list_enseigner').children().remove();
    });
//Bouton d'ajout d'un enseignement
$('#btnModalEnseigner').click(function()
    {
    $.ajax({
        url:"{{ path('enseigner_form',{'idFormation':'idFormation'}) }}".replace('idFormation',$('#formation_id option:selected').val()),
        type:"POST",
        dataType:"html",
        data:{},
        async:true,
        success:function(data)
            {
            $('#modal-body-enseigner').html(data);
            },
        error: function(jqXHR, textStatus, errorThrown)
            {
            $('#modal-body-enseigner p').text("Veuillez saisir une formation.")
            }
        });
    });
//Bouton Valider de la modal
$('#validationEnseigner').click(function()
    {//Récupération des valeurs
    let moduleId=$('#enseigner_module_id option:selected');
    let formateurId=$('#enseigner_formateur_id option:selected');
    //Vérification des valeurs
    if(moduleId.val().trim()!=""&&formateurId.val().trim()!="")
        {//Calcul le nombre d'enseignement déjà crée
        let length=$('#list_enseigner div').length;
        //Ajout de l'enseignement en html
        $('#list_enseigner').append(
            '<div id="enseigner_'+length+'" class="d-flex align-items-center mt-1">'+
                '<button type="button" class="btn btn-danger mr-1" onclick="suppressionEnseigner('+length+')">Supprimer</button>'+
                '<p class="text-light m-0">'+moduleId.text()+' (<strong>formateur:</strong> '+formateurId.text()+')</p>'+
                '<input class="module" type="hidden" name="enseigner_'+length+'[module]" value="'+moduleId.val()+'"/>'+
                '<input class="formateur" type="hidden" name="enseigner_'+length+'[formateur]" value="'+formateurId.val()+'"/>'+
            '</div>');
        }
    });
//Bouton de suppresion d'un enseignement
function suppressionEnseigner(id)
    {//Suppression de la div parente du bouton
    $('#enseigner_'+id).remove();
    //Parcours les div situées après la div supprimé
    for(let i=id;i<$('#list_enseigner div').length;i++)
        {//Modification des attributs
        //Div suivante
        $('#enseigner_'+(i+1)).attr('id',"enseigner_"+i);
        //Elements html de la div suivante
        $('#enseigner_'+i+' button').attr('onclick',"suppressionEnseigner("+i+")");
        $('#enseigner_'+i+' .module').attr('name','enseigner_'+i+'[module]');
        $('#enseigner_'+i+' .formateur').attr('name','enseigner_'+i+'[formateur]');
        }
    }
</script>
{% endblock %}
