{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Affichage Session" }}{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="d-flex">
      <a href="{{ path('session_index') }}" class="btn btn-primary">Retour à la liste</a>
      <a href="{{ path('session_edit', {'id': session.id}) }}" class="btn btn-warning ml-2 mr-2">Editer</a>
      {{ include('session/_delete_form.html.twig') }}
  </div>
  <div class="row">
    <div class="col-auto mb-3">
        <h4 class="text-light">Session (<a class="text-body" href="{{ path('formation_show',{'id':session.idFormation.id}) }}" target="_blank">{{ session.idFormation.libelle }}</a>)</h4>
        <p class="text-light m-0">
            <strong class="text-white">Nom: </strong>
            {{ session.nom }}
        </p>
        <p class="text-light m-0">
            <strong class="text-white">Date de début: </strong>
            {{ session.dateDebut|date('Y-m-d') }}
        </p>
        <p class="text-light m-0">
            <strong class="text-white">Date de fin: </strong>
            {{ session.dateFin|date('Y-m-d') }}
        </p>
    </div>
    <div class="col-auto mb-3">
        <h4 class="text-light">Liste des modules</h4>
        {% for enseigner in session.enseigners %}
            <div class="d-flex align-items-center mt-1">
                <button type="button" class="btn btn-info mr-1" data-toggle="modal" data-target="#modalEnseigner" onclick="detailsEnseigner({{ enseigner.id }})">Détails</button>
                <p class="text-light m-0">{{ enseigner.idModule.libelle }}</p>
            </div>
        {% endfor %}
    </div>
    {% if session.stagiaires|length > 0 %}
        <div class="col-auto">
            <h4 class="text-light">Liste des étudiants</h4>
            {% for stagiaire in session.stagiaires %}
                <a href="{{ path('stagiaire_show',{'id':stagiaire.id}) }}" target="_blank" class="text-body">{{ stagiaire.nom~" "~stagiaire.prenom }}</a>
            {% endfor %}
        </div>
    {% endif %}
  </div>
</div>

<!--Modal-->
<div class="modal fade" id="modalEnseigner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enseigner</h5>
            </div>
            <div class="modal-body bg-secondary w-100" id="modal-body-enseigner">
                <p class="text-center text-light m-0">Chargement des données, veuillez patientez ....</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
function detailsEnseigner(id)
    {
    $.ajax({
        url:"{{ path('enseigner_show',{'id':'id'}) }}".replace('id',id),
        type:"POST",
        dataType:"html",
        data:{},
        async:true,
        success:function(data)
            {
            $('#modal-body-enseigner').html(data);
            }
        });
    }
</script>
{% endblock %}
