{{ form_start(form) }}
<div class="w-100">
	<div class="input-group mb-1">
		<div class="input-group-prepend">{{ form_label(form.libelle,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
		{{ form_widget(form.libelle,{'attr':{'class':'form-control'}}) }}
	</div>
	<div class="input-group mb-1">
		<div class="input-group-prepend">{{ form_label(form.description,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
		{{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
	</div>
</div>
{{ form_end(form) }}

