{% block body %}
<div class="d-flex flex-column">
    <p class="text-light mb-1"><strong class="text-white">Nom: </strong>{{ module.libelle }}</p>
    <p class="text-light mb-0"><strong class="text-white">Description: </strong><br/>{{ module.description }}</p>
</div>
{% endblock %}
