{{ form_start(form) }}
<div class="w-100">
	<div class="input-group mb-1">
		<div class="input-group-prepend">{{ form_label(form.nom,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
		{{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
	</div>
	<div class="input-group mb-1">
		<div class="input-group-prepend">{{ form_label(form.prenom,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
		{{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
	</div>
	<div class="input-group mb-1">
		<div class="input-group-prepend">{{ form_label(form.mail,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
		{{ form_widget(form.mail,{'attr':{'class':'form-control'}}) }}
	</div>
	<div class="input-group mb-1">
		<div class="input-group-prepend">{{ form_label(form.portable,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
		{{ form_widget(form.portable,{'attr':{'class':'form-control'}}) }}
	</div>
	<div class="input-group">
		<div class="input-group-prepend">{{ form_label(form.fixe,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
		{{ form_widget(form.fixe,{'attr':{'class':'form-control'}}) }}
	</div>
</div>
{{ form_end(form) }}