<div class="d-flex">
    <div class="d-flex flex-column">
        <p class="text-light m-0">
            <strong class="text-white">Nom: </strong>
            {{ contact.nom }}
        </p>
        <p class="text-light m-0">
            <strong class="text-white">Prénom: </strong>
            {{ contact.prenom }}
        </p>
        <p class="text-light m-0">
            <strong class="text-white">Mail: </strong>
            {{ contact.mail }}
        </p>
        <p class="text-light m-0">
            <strong class="text-white">Portable: </strong>
            {{ contact.portable }}
        </p>
        <p class="text-light m-0">
            <strong class="text-white">Fixe: </strong>
            {{ contact.fixe }}
        </p>
        <p class="text-light m-0">
            <strong class="text-white">Entreprise: </strong>
            {{ contact.idEntreprise.nom }}
        </p>
    </div>
    {% if contact.suivis|length > 0 %}
        <div class="ml-3">
            <h4 class="text-light m-0">Liste des suivis</h4>
            {% for suivi in contact.suivis %}
                <a class="text-body" href="{{ path('suivi_show',{'id':suivi.id}) }}" target="_blank">Suivi du {{ suivi.dateCreation|date('Y-m-d') }}</a>
            {% endfor %}
        </div>
    {% endif %}
</div>