<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Centre de formation{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </head>
    <body class="bg-secondary">
    	<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav nav-pills nav-fill w-100">
            <li class="nav-item">
              <a class="nav-link {% if controller_name == 'centre' %}active{% endif %}" href="{{ path('centre') }}">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if controller_name == 'stagiaire' %}active{% endif %}"  href="{{ path('stagiaire_index') }}">Gestion des étudiants</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if controller_name == 'entreprise' %}active{% endif %}" href="{{ path('entreprise_index') }}">Gestion des entreprises</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if controller_name == 'formation' %}active{% endif %}" href="{{ path('formation_index') }}">Gestion des formations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if controller_name == 'session' %}active{% endif %}" href="{{ path('session_index') }}">Gestion des sessions</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if controller_name == 'formateur' %}active{% endif %}" href="{{ path('formateur_index') }}">Gestion des formateurs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if controller_name == 'suivi' %}active{% endif %}" href="{{ path('suivi_index') }}">Gestions des suivis commerciaux</a>
            </li>
          </ul>
        </div>
      </nav>
      <section class="mt-4">
        {% block body %}{% endblock %}
      </section>
      {% block javascripts %}{% endblock %}
    </body>
</html>
