<form>
	<div class="input-group mb-1">
		<div class="input-group-prepend"><label for="enseigner_module_id" class="required input-group-text">Module</label></div>
		<select id="enseigner_module_id" name="enseigner_module[id]" class="form-control">
			{% for module in modules %}
				<option value="{{ module.id }}" {% if enseigner.getIdModule == module %}selected{% endif %}>{{ module.libelle }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="input-group">
		<div class="input-group-prepend"><label for="enseigner_formateur_id" class="required input-group-text">Formateur:</label></div>
		<select id="enseigner_formateur_id" name="enseigner_formateur[id]" class="form-control">
			{% for formateur in formateurs %}
				<option value="{{ formateur.id }}" {% if enseigner.getIdFormateur == formateur %}selected{% endif %}>{{ formateur.nom~" "~formateur.prenom }}</option>
			{% endfor %}
		</select>
	</div>
</form>