{% set session = enseigner.idSession %}
{% set module = enseigner.idModule %}
{% set formateur = enseigner.idFormateur %}
<div class="d-flex flex-column">
    <p class="text-light m-0">
    	<strong class="text-white">Session: </strong>
    	{{ session.nom }}
    </p> 
    <p class="text-light m-0">
    	<strong class="text-white">Formateur: </strong>
    	<a class="text-body" href="{{ path('formateur_show',{'id':formateur.id}) }}" target="_blank">{{ formateur.nom~" "~formateur.prenom }}</a>
    </p>
    <p class="text-light m-0">
    	<strong class="text-white">Module: </strong>
    	{{ module.libelle }}
    </p>
    <p class="text-light m-0">
    	<strong class="text-white">Description: </strong><br/>
    	{{ module.description }}
    </p>
</div>
