<form method="post" action="{{ path('formateur_delete', {'id': formateur.id}) }}" onsubmit="return confirm('Est-vous sûr de supprimer ce formateur (son répertoire sera supprimer) ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formateur.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
