{{ form_start(form,{'multipart':true,'attr':{'class':'container-fluid'}}) }}
<div class="d-flex">
	<a href="{{ path('formateur_index') }}" class="btn btn-primary">Retour à la liste</a>
	{% if formateur.id is not null %}
		<a href="{{ path('formateur_show', {'id': formateur.id}) }}" class="btn btn-primary ml-2">Afficher</a>
	{% endif %}
	<button class="btn btn-success ml-2">Sauvegarder</button>
</div>
<div class="row">
	<div class="col-auto">
		<h4 class="text-light">Formateur</h4>
		<div class="input-group mb-1">
			<div class="input-group-prepend">{{ form_label(form.prenom,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
			{# Si le formateur existe, la modification de son nom est impossible #}
			{% if formateur.id is not null %}
				{{ form_widget(form.prenom,{'attr':{'class':'form-control','readonly':'readonly'}}) }}
			{% else %}
				{{ form_widget(form.prenom,{'attr':{'class':'form-control'}}) }}
			{% endif %}
		</div>
		<div class="input-group mb-1">
			<div class="input-group-prepend">{{ form_label(form.nom,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
			{# Si le formateur existe, la modification de son nom est impossible #}
			{% if formateur.id is not null %}
				{{ form_widget(form.nom,{'attr':{'class':'form-control','readonly':'readonly'}}) }}
			{% else %}
				{{ form_widget(form.nom,{'attr':{'class':'form-control'}}) }}
			{% endif %}
		</div>
		<div class="input-group mb-1">
			<div class="input-group-prepend">{{ form_label(form.telephone,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
			{{ form_widget(form.telephone,{'attr':{'class':'form-control'}}) }}
		</div>
		<div class="input-group mb-1">
			<div class="input-group-prepend">{{ form_label(form.mail,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
			{{ form_widget(form.mail,{'attr':{'class':'form-control'}}) }}
		</div>
		<div class="input-group mb-1">
			<div class="input-group-prepend">{{ form_label(form.adresse,'',{'label_attr':{'class':'input-group-text'}}) }}</div>
			{{ form_widget(form.adresse,{'attr':{'class':'form-control'}}) }}
		</div>
		<div class="input-group mb-1">
			{{ form_label(form.cv,'',{'label_attr':{'class':'input-group-text'}}) }}
			{# Si le formateur n'existe pas, le CV est obligatoire #}
			{% if formateur.id is null %}
				{{ form_widget(form.cv,{'attr':{'class':'form-control-file text-light'}}) }}
			{% else %}
				{{ form_widget(form.cv,{'required':false,'attr':{'class':'form-control-file text-light'}}) }}
			{% endif %}
		</div>
		<div class="input-group">
			{{ form_label(form.cv_europass,'',{'label_attr':{'class':'input-group-text'}}) }}
			{# Si le formateur n'existe pas, le CV Europass est obligatoire #}
			{% if formateur.id is null %}
				{{ form_widget(form.cv_europass,{'attr':{'class':'form-control-file text-light'}}) }}
			{% else %}
				{{ form_widget(form.cv_europass,{'required':false,'attr':{'class':'form-control-file text-light'}}) }}
			{% endif %}
		</div>
	</div>
</div>
{{ form_end(form) }}
