{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Affichage Formateur" }}{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="d-flex">
    <a href="{{ path('formateur_index') }}" class="btn btn-primary">Retour à la liste</a>
    <a href="{{ path('formateur_edit', {'id': formateur.id}) }}" class="btn btn-warning ml-2 mr-2">Editer</a>
    {{ include('formateur/_delete_form.html.twig') }}
  </div>
  <div class="row">
    <div class="col-auto">
      <h4 class="text-light">Affichage - Formateur</h4>
      <p class="text-light mb-1"><strong class="text-white">Prénom: </strong>{{ formateur.prenom }}</p>
      <p class="text-light mb-1"><strong class="text-white">Nom: </strong>{{ formateur.nom }}</p>
      <p class="text-light mb-1"><strong class="text-white">Téléphone: </strong>{{ formateur.telephone }}</p>
      <p class="text-light mb-1"><strong class="text-white">Adresse mail: </strong>{{ formateur.mail }}</p>
      <p class="text-light mb-1"><strong class="text-white">Adresse postal: </strong>{{ formateur.adresse }}</p>
      <div class="">
          <a href="{{ asset(formateur.cv) }}" target="_blank" class="btn btn-info">CV - visualiser</a>
          <a href="{{ asset(formateur.cvEuropass) }}" target="_blank" class="btn btn-info">CV europass - visualiser</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
