<form method="post" action="{{ path('suivi_delete', {'id': suivi.id}) }}" onsubmit="return confirm('Est-vous sûr de supprimer ce suivi ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ suivi.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
