{{ form_start(form,{'attr':{'class':'container-fluid'}}) }}
<div class="d-flex">
	<a href="{{ path('suivi_index') }}" class="btn btn-primary">Retour à la liste</a>
	{% if suivi.id is not null %}
      <a href="{{ path('suivi_show', {'id': suivi.id}) }}" class="btn btn-primary ml-2">Afficher</a>
  {% endif %}
	<button class="btn btn-success ml-2">{{ button_label|default('Sauvegarder') }}</button>
</div>
<div class="row">
	<div class="col-auto mb-3">
		<h4 class="text-light">Suivi</h4>
		<div class="input-group mb-1">
			<div class="input-group-prepend"><label for="type_suivi_id" class="required input-group-text">Type de suivi</label></div>
			<select id="type_suivi_id" class="form-control" name="type_suivi[id]" required>
          {% for typeSuivi in typeSuivis %}
              <option value="{{ typeSuivi.id }}" {% if suivi.idType == typeSuivi %}selected{% endif %}>{{ typeSuivi.libelle }}</option>
          {% endfor %}
      </select>
		</div>
		<div class="input-group mb-1">
			<div class="input-group-prepend"><label for="contact_id" class="required input-group-text">Contact</label></div>
			<select class="form-control" id="contact_id" name="contact[id]" required>
          {% for contact in contacts %}
              <option value="{{ contact.id }}" {% if suivi.idContact == contact %}selected{% endif %}>{{ contact.prenom~" "~contact.nom }}</option>
          {% endfor %}
      </select>
		</div>
		<div class="form-group">
    	{{ form_label(form.description,'',{'label_attr':{'class':'input-group-text'}}) }}
			{{ form_widget(form.description,{'attr':{'class':'form-control'}}) }}
    </div>
	</div>
	<div class="col-auto">
		<div class="d-flex align-items-center">
			<h4 class="text-light">Rappel {% if suivi.id is null %}(non obligatoire){% endif %}</h4>
			{% if suivi.rappel.id is defined %}
					<button type="button" id="btnSuppressionRappel" class="btn btn-danger m-1" onclick="suppressionRappel({{ suivi.id }})">Supprimer le rappel</button>
			{% endif %}
		</div>
		<div class="input-group mb-1">
			<div class="input-group-prepend"><label for="rappel_date_rappel" class="required input-group-text">Date de rappel</label></div>
			<input id="rappel_date_rappel" class="form-control" type="date" name="rappel[date_rappel]" {% if suivi.rappel.dateRappel is defined %}value="{{ suivi.rappel.dateRappel.format('Y-m-d') }}"{% endif %}>
		</div>
		<div class="input-group mb-1">
			<label class="required input-group-text mr-1">Valide</label>
			<div class="d-flex align-items-center">
				<div class="form-check">
					<input id="rappel_valide_oui" type="radio" name="rappel[valide]" value="1" {% if suivi.rappel.valide is defined and suivi.rappel.valide == true %}checked{% endif %} class="form-check-input">
					<label for="rappel_valide_oui" class="form-check-label mb-0 mr-2 text-light">Oui</label>
				</div>
				<div class="form-check">
					<input id="rappel_valide_non" type="radio" name="rappel[valide]" value="0" {% if suivi.rappel.valide is defined and suivi.rappel.valide == false %}checked{% endif %} class="form-check-input">
					<label for="rappel_valide_non" class="form-check-label mb-0 mr-2 text-light">Non</label>
				</div>
			</div>
		</div>
		<div class="form-group mb-1">
			<label for="rappel_description" class="required input-group-text">Description</label>
      <textarea id="rappel_description" class="form-control" name="rappel[description]">{% if suivi.rappel.description is defined %}{{ suivi.rappel.description }}{% endif %}</textarea>
		</div>
	</div>
</div>
{{ form_end(form) }}
