{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Editier Suivi" }}{% endblock %}

{% block body %}
{{ include('suivi/_form.html.twig') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
function suppressionRappel(id)
    {
    $.ajax({
        url:"{{ path('suivi_delete_rappel',{'id':'id'}) }}".replace('id',id),
        type:"POST",
        dataType:"html",
        data:{},
        async:true,
        success:function(data)
            {
            $('#rappel_date_rappel').val('');
            $('#rappel_description').val('');
            $('#rappel_valide_oui').removeAttr('checked');
            $('#rappel_valide_non').removeAttr('checked');
            $('#btnSuppressionRappel').remove();
            }
        });
    }
</script>
{% endblock %}
