{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ " - Affichage Suivi" }}{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="d-flex">
      <a href="{{ path('suivi_index') }}" class="btn btn-primary">Retour à la liste</a>
      <a href="{{ path('suivi_edit', {'id': suivi.id}) }}" class="btn btn-warning ml-2 mr-2">Editier</a>
      {{ include('suivi/_delete_form.html.twig') }}
  </div>
  <div class="row">
    <div class="col-auto mb-3">
      <h4 class="text-light">Suivi</h4>
      <p class="text-light mb-1">
          <strong class="text-white">Date de création: </strong>
          {{ suivi.dateCreation|date('Y-m-d') }}
      </p>
      <p class="text-light mb-1">
          <strong class="text-white">Description: </strong>
          {{ suivi.description }}
      </p>
      <p class="text-light mb-1">
          <strong class="text-white">Type de suivi: </strong>
          {{ suivi.idType.libelle }}
      </p>
      <p class="text-light mb-0 align-items-center">
          <strong class="text-white">Contact: </strong>
          {{ suivi.idContact.prenom~" "~suivi.idContact.nom~" " }}
          <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalContact" onclick="detailsContact({{ suivi.idContact.id }})">Détails</button>
      </p>
    </div>
    {% if suivi.rappel is not null %}
      <div class="col-auto">
          <h4 class="text-light">Rappel</h4>
          <p class="text-light mb-1">
              <strong class="text-white">Date de rappel: </strong>
              {{ suivi.rappel.dateRappel|date('Y-m-d') }}
          </p>
          <p class="text-light mb-1">
              <strong class="text-white">Description: </strong>
              {{ suivi.rappel.description }}
          </p>
          <p class="text-light mb-0">
              <strong class="text-white">valide: </strong>
              {{ suivi.rappel.valide ? "oui":"non" }}
          </p>
      </div>
    {% endif %}
  </div>
</div>

<!--Modal-->
<div class="modal fade" id="modalContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact</h5>
            </div>
            <div class="modal-body bg-secondary w-100" id="modal-body-contact">
                <p class="text-center text-light m-0">Chargement des données, veuillez patientez ....</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
function detailsContact(id)
    {
    var path="{{ path('contact_show',{'id':'id'}) }}"
    path=path.replace('id',id);
    $.ajax({
        url:path,
        type:"POST",
        dataType:"html",
        data:{},
        async:true,
        success:function(data)
            {
            $('#modal-body-contact').html(data);
            }
        });
    }
</script>
{% endblock %}
